body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #2F2E41;
  min-height: 100vh;

}

.page {
  width: 1000px;
  margin: 0 auto ;
  padding-top: 65px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;    
    margin-bottom: 55px;
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;

  }

  ul{
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
  }

  ul li a{
    color: #FFF;
    text-decoration:none ;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
      opacity:0.8 ;
  }
ul li a:hover{
 font-weight: bold;
 opacity: 1;
}

  h1{
    color:#FFFFFF;
    font-family: 'JetBrains Mono', monospace;
    font-size: 49px;
    line-height: 56px;
    width: 490px;
    font-weight: normal;
  }

  h1 span{
   color: #00BFA6;
   font-weight: bold;
   
  }


section p{
  color: #C2C2C2;
font-family: Open Sans;
font-size: 14px;
margin: 40px 0;
}


p span{
  font-weight: bold;
color: #00BFA6;;
}

footer{
color:#FFFFFF;
  font-size: 14px;
line-height: 28px;
text-align: center;
margin-top: 27px;
}
footer a{
  font-weight: bold;
  color: #ffffff;
  text-decoration:none ;
  font-family: 'JetBrains Mono', monospace;

}
main{
  display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 160px;
}

#cadeado {

  position: fixed;
  bottom: 0px;
  left: 0px;
}


section{
  padding-left: 82px;
}
  #line{
width: 568px;
height: 0px;
border: 2px solid #00BFA6;
margin: 0 auto 8px;
}
li a{
  color: #FFF;
}
